
/*Estilos genericos*/
	.faSpace{margin-right: 5px;}
	.alingcenter{text-align: center !important;}
	.contLoading {text-align: center;}
/*Header*/
	p.cartHeader {
	    width: 160px;
	    text-align: center;
	    float: right;
	    position: relative;
	    cursor: pointer;
	    font-size: 14pt;
	    font-weight: bold;
	    color: #fff;
	}
	i.fa.fa-shopping-cart {margin-right: 5px;}
/*Nav*/
	.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {color: #d2d0c2 !important;background-color: transparent;}
	.navbar-default {background-color: #161412!important;border-color: #a29427!important;margin-bottom: 0px;}
	.imgLogo {margin: 0 auto;width: 23%;}
	.navbar-brand{padding: 0px 0px;}
	.img-responsiveR{width: 80px;}
	.navbar-default .navbar-nav>li>a {color: #a29427;}
	.navbar-default .navbar-nav>li>a:hover {color:#fff;}
	ul.nav.navbar-nav.centerMenu {width:80%;margin:0 auto;float: none !important;}
	i.fa.fa-cart-plus {margin: 5px;}
	.btncart{width: 100%;}
	h3.titleProduct {font-size: 15pt;text-align: center;}
	p.detailsInfo {margin-left: 15px;}
	p.detailsInfo:hover {cursor: pointer;color:#a29427; }
	i.fa.fa-info-circle {margin-right: 5px;}
	.dropdownit {
	    position: relative;
	    display: inline-block;
	}
	.dropdownitems {
	    display: none;
	    position: absolute;
	    background-color: #161412;
	    min-width: 100%;
	    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	    padding: 12px 0px;
	    z-index: 1;
	    list-style: none;
	    color: #fff
	}
	.dropdownit:hover {
            -moz-transition:        0.2s opacity ease-in, 0s left linear 0.22s;
            -webkit-transition:     0.2s opacity ease-in, 0s left linear 0.22s;
            -khtml-transition:      0.2s opacity ease-in, 0s left linear 0.22s;
            -icab-transition:       0.2s opacity ease-in, 0s left linear 0.22s;
            -ms-transition:         0.2s opacity ease-in, 0s left linear 0.22s;
            -o-transition:          0.2s opacity ease-in, 0s left linear 0.22s;
            transition:             0.2s opacity ease-in, 0s left linear 0.22s;
	}
	.dropdownit:hover .dropdownitems {display: block;}
	li.dropdownit {
	    width: 175px;
	    text-align: center;
	}
	.liSubcategorias a{color: #fff;}
	.liSubcategorias a:hover {color: #a29427;text-decoration: none;}
    .navbar-fixed-top{background: #a29427;}
    .marginafterfixed{margin-top: 220px;}
    .containercart1{
	    width: 150px;
	    height: 60px;
	    position: fixed;
	    z-index: 1060;
	    right: 30px;
	    margin-top: 50px;
    }
	li.liSubcategorias {
	    border-bottom-style: solid;
	    border-bottom-width: 1px;
	    margin: 2px;
	    height: 45px;
	}
/*-------------------------------------MODULO ADMINISTRADOR---------------------------------------------------*/
	.logoAdmin {
	    width: 80%;
	    margin: 0 auto;
	    margin-bottom: 20px;
	    margin-left: -7px;
	    margin-top: 20px;
	}
	.col-md-2.panelBorde {
	    border-right-style: solid;
	    border-right-width: 1px;
	    border-right-color: #5084b1;
	}
	.btnadmin {
	    margin-top: 40px;
	    width: 160px;
	    float: right;
	}
	/*----Modulo brand*/
		h3.titlebrand {
		    text-align: center;
		    font-size: 15pt;
		}
		.btnBrand {
		    margin-top: 5px;
		    width: 100% !important;
		    /* margin: 0px; */
		}
		.tablaTipoProducto {
		    height: 500px;
		    overflow: auto;
		}
		.formAddTipoArticuloedit {
		    margin: 0 auto;
		    width: 70%;
		}
		button.btn.btn-success.btnBrandedit {
		    width: 100%;
		    margin-top: 5px;
		    height: 45px;
		}
		input#tproduct {
		    height: 45px;
		}
	/*Modulo categorias*/
		#opcionesubcat{
			height: auto;
		}
		.showoptionupdatecat {
		    display: block;
		    width: 80%;
		    height: 100px;
		    margin: 0 auto;
		}
		.noshowoptionupdatecat{
			display: none;
		}
		.showtablesubcat{
			display: grid;
		}
		.hidetablesubcat{
			display: none;
		}
		.modal-sm-custom {
		    width: 30%;
		}
	/*Modulo productos*/
		button.btn.btn-success.btnaddproduct {
		    float: right;
		    margin: 10px;
		    height: 40px;
		}
		.paddingespace{
			padding-top: 8px;
		}
		.spacesizes {padding-bottom: 30px;}
		input.inputdestacado {margin-right: 10px;margin-left: 15px;}
		.ctrlsize{resize: none;}
		.form-group.leftbtnaddproduct {float: right;margin-right: 25px;}
		.titleopciones{
		    font-size: 16px;
		    font-weight:500;
		    text-align: center;
		    border-bottom-style: solid;
		    border-bottom-width: 1px;
		}
		input.hidebtncheck {display: none;}
		label.checkbox-inline.paddingespace {padding-left: 0px;}
		.contentradio {margin: 0 auto;width: 65%;}
		.tdwidth{width: 10px; vertical-align: middle;}
		.infoproductos {
		    overflow-y: auto;
		    height: 400px;
		    margin-top: 60px;
		}
		.containeraddproduct {
		    position: absolute;
		    right: 30px;
		}
		img.imgthumLP {
		    width: 50px;
		}
	/*Modulo login*/
		h1.welcomeLogin {
		    text-align: center;
		}
		.middlelogin {
		    width: 35%;
		    margin: 0 auto;
		    margin-top: 110px;
		}
		.img-logo-login {
		    width: 60%;
		    margin: 0 auto;
		    margin-bottom: 45px;
		}
		.txtfooter {
		    text-align: center;
		    margin-top: 0px;
		}
		.bg-login {
		    background: url(../img/fondo-login.png);
		    background-repeat: no-repeat;
		    width: 100%;
		    height: 550px;
		}
		.addoncustom{
    		background-color: #a29427 !important;
    		border: 0px solid #000 !important;
		}
		.icologin{
			color: #fff;
		}

/*----------------------PRODUCTOS vista frontEnd----------------------*/
	/*contenedor items productos*/
		.selectModalProducts {
		    width: 100% !important;
		}
		.price1{
			margin-left: 15px;
		}
		p.txtdescripcion {
		    text-align: justify;
		    line-height: 18px;
		    margin-left: 15px;
		    margin-right: 15px;
		}
		span.titlespan {
		    font-weight: bold;
		    color: #a29426;
		}
		span.pricespan {
		    margin-left: 5px;
		    font-weight: bold;
		}
		.margincaptioninfo{
		    margin-left: 15px;
		    margin-right: 15px;
		}
		.thumbnail{
			padding: 0px;
		}
		p.last-price {
		    text-decoration: line-through;
		    text-decoration: #000;
		    text-decoration-color: red;
		    text-decoration-color: red;
		}
		.infoitem {
		    padding-top: 0px;
		}
		input#inlineCheckbox1 {
		    margin: 5px;
		}
		.modalheadercustom{
		    padding: 15px;
		    border-bottom: 1px solid rgba(229, 229, 229, 0);
		    padding-bottom: 0px;
		    padding-top: 0px;
		}
		.modal-header .closecustom {
		    margin-top: 15px;
		}
		.cart-products-total {
		    float: right;
		    margin: 5px;
		    font-weight: bold;
		    font-size: 12pt;
		}
		.modal-footercustom {
		    padding: 15px;
		    text-align: right;
		    border-top: 1px solid #e5e5e5;
		    margin-top: 15px;
		    padding-top: 10px;
		    padding-bottom: 10px;
		}
		.tablaproductos{
		    padding: 8px;
		    line-height: 1.42857143;
		    vertical-align: middle !important;
		    text-align: center !important;
		}
		.thtitle{
			vertical-align: middle;
			text-align: center;
		}
		h5.noarticle {
		    text-align: center;
		    font-size: 15pt;
		}
		.ColFormCustom{
			width: 9.9%;
			padding: 5px;
			float: left;
		}

		.radio-thumbnail > input {
			position: absolute !important;
			clip: rect(1px, 1px, 1px, 1px);
		}

		.radio-thumbnail > :checked + .thumbnailformcustom {
		    border-color: #43A047;
		    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
		    width: 30px;
		    border-style: solid;
		}
		.radio-thumbnail > :disabled + .thumbnailformcustom {
		  opacity: .5;
		}
		h3.txtcolor {
		    font-weight: bold;
		    font-size: 12pt;
		    margin-top: 0px;
		    margin-bottom: 0px;
		}
		.marginFG{margin-bottom: 0px;}
		.col-md-6.spaceCF {
		    padding-bottom: 15px;
		    padding-left: 16px;
		}
		.col-md-12.spaceCF {
		    padding: 0px;
		    padding-bottom: 15px;
		}
		.infoitemcustom {
		    padding-top: 0px;
		}

/*Estilos foooter*/
	#footerFront{background: #000;}
	img.footer-img {
		
	    width: 100%;
	}
	h5.yaxkintxt {
	    /* position: relative; */
	    color: #ffffff;
	    font-size: 15pt;
	    z-index: 39;
	    margin-top: -104px;
	    margin-left: 65px;
	}
